.owner-details-container-main {
  flex: 1;
  max-width: 750px;
  padding-bottom: 100px;

  h1 {
    font-size: 28px;
    font-weight: 700;
    color: #404145;
    margin-bottom: 20px;
  }

  .gig-main-img {
    width: 90%;
    border-radius: 4px;
    // margin-block: 20px;
    margin-bottom: 50px;
  }

  .gig-description {
    font-size: 1rem;
    line-height: 1.5;
    color: #404145;
    margin-block: 40px;
  }

  .carousel-container {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
  
    .carousel-row-images{
      height: 60px;
    }
    .carousel .slide img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      border-radius: 8px;
    }
  
    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: #fff;
      border: none;
      border-radius: 50%;
      padding: 8px;
      cursor: pointer;
      font-size: 1.2rem;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      z-index: 10;
    }
  
    .next-btn {
      right: 10px;
    }
  
    .prev-btn {
      left: 10px;
    }
  }
  
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 16px;
  margin-top: 25px;

  .owner-profile-img-meduim {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
  }

  .owner-details {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .user-container {
      .user-title {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
      }

      .username {
        font-size: 14px;
        color: #74767e;
      }
    }

    .star-wrapper {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 14px;
      color: #404145;

      .owner-number-rates {
        color: #74767e;
        text-decoration: underline;
      }

      .divider {
        color: #e4e5e7;
      }

      .queue {
        color: #74767e;
      }

      .star {
        width: 14px;
        height: 14px;
      }

      p {
        margin: 5%;
      }
    }
  }
}

.top-details {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}



.bread-crumbs {
  font-size: 0.875rem;
  color: #62646a;
  margin-bottom: 8px;
  margin-top: 35px;
  display: flex;
  align-items: center;
  padding-left: 10px;

  a {
    color: rgb(64, 65, 69);


    &:hover {
      text-decoration: underline;
    }

    &.home {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      margin-right: 1px;
      // color: #404145;
    }

    .home-icon {
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-right: 4px;
      object-fit: cover;
    }
  }

  .divider {
    margin: 5px 8px;
    color: #c5c6c9;
    font-size: 20px;
  }
}

