.app-footer-container {
  /* ריווח מסוים או התאמות רספונסיביות אם צריך */
  width: 100%;

  .app-footer {
    /* קו עליון דק */
    border-top: 1px solid #e5e5e7;
    font-family: "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0; /* ריווח פנימי אופקי ואנכי */
    color: #7a7d85;

    /* צד שמאל (לוגו + טקסט זכויות יוצרים) */
    .left {
      display: flex;
      align-items: center;
      gap: 1rem;

      .logo-container {
        display: flex;
        align-items: center;
        flex-shrink: 0;

  
        .logo {
          font-family: Macan-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-weight: 1000;
          font-size: 2rem;
          letter-spacing: -0.15rem;
          color: #404145; /* צבע טקסט כהה */
          text-shadow: none; /* ביטול הצללה אם לא נחוצה */
          display: inline-flex;
          align-items: flex-end;
          cursor: pointer;
  
          .dot {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #1eb569; /* נקודה ירוקה */
            margin-left: 2px;
            transform: translateY(-8px); /* העלאת הנקודה מעט */
          }
        }
      }

      .empty {
        color: #222325;
        font-size: 14px;
        margin: 0px;
      }
    }

    /* צד ימין (אייקוני רשתות חברתיות) */
    .right {
      display: flex;
      align-items: center;

      .social {
        display: flex;
        list-style: none;
        gap: 1rem; /* רווח בין האייקונים */
        padding: 0;
        margin: 0;

        li {
          a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem; /* גודל האייקון */
            color: #7a7d85;
            transition: color 0.3s ease;

            &:hover {
              color: #404145;
            }
          }
        }
      }
    }
  }
}

