.filter-popup {
  position: absolute;
  top: 100%;
  left: 0;
  width: 240px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px 16px 0 16px;
  z-index: 300;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  max-height: 300px; 
  overflow: hidden;

  .options-list {
    flex: 1;               // תופס את כל השטח מעל הכפתורים
    overflow-y: auto;      // גלילה אנכית כשיש יותר מדי
  }

  label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    padding: 8px 0;
    color: #404145;
    cursor: pointer;
    
    input {
      accent-color: #222325; 
      width: 20px;
      height: 20px;
    }
  }

  .popup-actions {
    position: sticky;      
    background: white;   
    padding: 6px;  
    margin: 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eee; 
    z-index: 1; 

    button {
      font-size: 14px;
      padding: 6px 16px 10px 16px;
      border-radius: 6px;
      cursor: pointer;
      border: 1px solid #222325;
      font-weight: 600;

      &:first-of-type {
        background: none;
        color: #62646a;
      }

      &:last-of-type {
        background:#222325;
        color: white;
        font-weight: 600;
      }
    }
  }
}
