
.user-with-img {
    display: flex;
    align-items: center;
  
    img {
      width: 70px;
      height: 45px;
      border-radius: 4px;
      object-fit: cover;
      margin-right: 12px;
    }
  
    .order-title {
      font-size: 14px;
      color: #0e0e0f;
    }
  }
  
  .label {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
  
    &.fulfilled-label {
      background: #1dbf73;
      color: #fff;
    }
    &.rejected-label {
      background: #74767e;
      color: #fff;
    }
    &.pending-label {
      // background: #e1d967;
      font-size: 13px;
      padding: 4px 0;
      color: #222325;
    }
  }
  
  .order-again-btn {
    background-color: #1dbf73;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
  
    &:hover {
      background-color: darken(#1dbf73, 5%);
    }
    &:disabled {
      background: #dadbdd;
      cursor: default;
    }
  }

  .accepted-label {
    background: #3498db;
    color: #fff;
  }