// .sub-header-container {
//   // display:block;
//   width: 100%;
//   position: sticky;
//   top: 4.8em; // Adjust based on your AppHeader height
//   z-index: 1000;
//   background-color: #fff;
//   border-bottom: 1px solid #e5e5e7;
//   border-block-end: 1.5px solid #e5e5e7;
//   transition: transform 0.3s ease-in-out;
//   height: 40px;
//   padding-top: 10px;
//   // position: fixed;
//   // z-index: 10;

//   &.hidden {
//     transform: translateY(-100%);
//   }

//   &.visible{
//     transform: translateY(0);
//     display: block;
//   }

//   .category-header {
//     display: flex;
//   //   align-items: center;
//     position: relative;

//     .nav-btn {
//       background: transparent;
//       border: none;
//       font-size: 1rem;
//       padding: 0 .625rem;
//       cursor: pointer;
//       color: #404145;
//     }

//     .categories-container{
//       // flex-wrap: nowrap;
//       // overflow-x: auto;
//       width: 100%;
//       display: flex;
//       justify-content: space-between;
//       white-space: nowrap;

//       li {
//         flex: 0 0 auto;

//         .category-link {
//           max-height: 2.5rem;
//           padding-block: .6875rem;
//           color: #62646A;
//           margin-inline-end: 1.25em;
//           transition: .2s color, .3s box-shadow;

//           a {
//             color: inherit
//           }

//           // &:hover {
//           //   color: #1dbf73;
//           // }
//         }
//       }
//     }
//   }
// }
  

.sub-header-container {
  width: 100%;
  position: sticky;
  top: 4.8em;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e7;
  height: 40px;
  padding-top: 10px;
  // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  &.hidden {
    transform: translateY(-100%);
  }

  &.visible{
    transform: translateY(0);
    display: block;
  }
}

.category-header {
  display: flex;
position: relative;
}

.categories-container {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  width: 100%;

  // li {
  // flex: 0 0 auto;

    .category-link {
      color: #62646A;
      text-decoration: none;
      margin-right: 2rem;
      transition: color 0.3s ease, transform 0.3s ease;
    }

    .category-link:hover {
      color: #1dbf73; /* light green color on hover */
      transform: translateY(-2px); /* slight hover effect */
    }
  // }
}





